In [1]:
import os
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("breast_cancer1.csv", na_values='?')

In [3]:
df['Class'] = df['Class'].replace({2: 0, 4: 1})

In [4]:
mean_value = df['Bare nuclei'].mean()
df['Bare nuclei'] = df['Bare nuclei'].fillna(mean_value)

In [5]:
df.isnull().sum()

Sample code number             0
Clump thickness                0
Uniformity of cell size        0
Uniformity of cell shape       0
Marginaln adhesion             0
Single epithelial cell size    0
Bare nuclei                    0
Bland chromatin                0
Normal nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

In [6]:
df.head()

,Sample code number,Clump thickness,Uniformity of cell size,Uniformity of cell shape,Marginaln adhesion,Single epithelial cell size,Bare nuclei,Bland chromatin,Normal nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1.0,3,1,1,0
1,1002945,5,4,4,5,7,10.0,3,2,1,0
2,1015425,3,1,1,1,2,2.0,3,1,1,0
3,1016277,6,8,8,1,3,4.0,3,7,1,0
4,1017023,4,1,1,3,2,1.0,3,1,1,0

In [7]:
df = df.drop(['Sample code number'],axis = 1)

In [8]:
df.head()

,Clump thickness,Uniformity of cell size,Uniformity of cell shape,Marginaln adhesion,Single epithelial cell size,Bare nuclei,Bland chromatin,Normal nucleoli,Mitoses,Class
0,5,1,1,1,2,1.0,3,1,1,0
1,5,4,4,5,7,10.0,3,2,1,0
2,3,1,1,1,2,2.0,3,1,1,0
3,6,8,8,1,3,4.0,3,7,1,0
4,4,1,1,3,2,1.0,3,1,1,0

In [10]:
df.to_csv('breast_cancer_dataset.csv' , index = False)